.registrationForm {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 380px;
  margin: auto;
}
.registrationForm__form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 380px;
  margin: auto;
}

.registrationForm__hint {
  color: rgba(241, 2, 2, 0.52);
}
