@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500,600,700&display=swap");

*{
  box-sizing: border-box;
}

body {
  font-family: IBM Plex Sans;
  width: 1024px;
  margin: auto;
  padding: 34px 48px 60px 34px;
  border: 1px solid;
}
